<% @jobs.each do |jobs| %>
   <aside class="w-full h-screen" aria-label="Sidebar">
      <div class="w-full h-full px-3 py-4 overflow-y-auto rounded bg-gray-50 dark:bg-gray-800">
         <a href="#" class="flex items-center pl-2.5 mb-5">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"><%= current_user.name %></span>
         </a>
         <ul class="space-y-2">
            <li>
               <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                  <span class="ml-3"></span>
               </a>
            </li>
            <li>
                  <span class="flex-1 ml-3 whitespace-nowrap">Job title: <%=jobs.job_title%></span>
            </li>
            <li>
                  <span class="flex-1 ml-3 whitespace-nowrap">Job Description: <%=jobs.job_description%></span>
            </li>
            <li>
                  <span class="flex-1 ml-3 whitespace-nowrap">Salary: <%=jobs.job_salary%></span>
            </li>
            <li>
                  <span class="flex-1 ml-3 whitespace-nowrap">Status: <%=jobs.job_status%></span>
            </li>
            <li>
                  <span class="flex-1 ml-3 whitespace-nowrap">Accepted: <%=jobs.job_accepted%></span>
            </li>
         </ul>
      </div>
   </aside>
<% end %>