
   <aside class="w-full max-h-[90vh] min-h-[90vh]" aria-label="Sidebar">
      <div class="w-full h-full px-3 py-4 rounded bg-gray-50 dark:bg-gray-800">
         <a href="#" class="flex items-center pl-2.5 mb-5">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"><%= current_user.name %></span>
         </a>
         <ul class="space-y-2 text-white overflow-y-scroll h-[60%]">
         <% jobs.each do |job|%>
            <li>
              <a href="#" class="block max-w-sm p-6  border rounded-lg shadow-md  bg-gray-900 border-gray-700 hover:bg-gray-700">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%=job.job_title%></h5>
                  <p class="font-normal text-gray-700 dark:text-gray-400"><%= job.job_description %></p>
                  <p class="font-normal text-gray-700 dark:text-gray-400">PHP<%= job.salary %>0</p>
                  <p class="font-normal text-gray-700 dark:text-gray-400"> <% if job.status == 0 %> Submitted <% elsif job.status == 1 %> HR Interview <%elsif job.status == 2%> Manager Interview <%elsif job.status == 3%> Await Offer <%elsif job.status == 4 && job.accepted == true%> Accepted  <%elsif job.status == 4 && job.accepted == false%> Rejected <%end%> </p>
                  <p class="font-normal <%if job.accepted%> text-green-500  <%elsif job.accepted == false && job.status == 4%> text-red-500 <%else%> text-yellow-500 <%end%>"><% if job.accepted && job.status == 4%> Accepted <%elsif job.accepted == false && job.status == 4%> Rejected <%else%> In Progress <%end%></p>
               </a>
            </li>
         <%end%>
         </ul>
         <div class="trackers mt-3">
         <div class="border rounded-lg shadow-md border-gray-700 bg-slate-700 p-3">
            <h5 class="text-2xl text-white">Total Applications: <%= trackers[:tally]%> </h5>
            <div class="flex items-center gap-1 justify-center h-fit w-fit p-2 text-green-500">
               <span>Accepted </span>
               <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#22c55e" viewBox="0 0 256 256">
                  <rect width="256" height="256" fill="none"></rect>
                  <polyline points="216 72 104 184 48 128" fill="none" stroke="#22c55e" stroke-linecap="round" stroke-linejoin="round" stroke-width="16">
                  </polyline>
               </svg>: 
            <span>
            <%= trackers[:accepted]%>
            </span>
            </div>

            <div class="flex items-center gap-1 justify-center h-fit w-fit p-2 text-yellow-500">
               <span>In Progress </span>
               <div class="loading-anim">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#eab308" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><polyline points="176.2 99.7 224.2 99.7 224.2 51.7" fill="none" stroke="#eab308" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline><path d="M190.2,190.2a88,88,0,1,1,0-124.4l34,33.9" fill="none" stroke="#eab308" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path></svg>
               </div>
            <span>:
            <%=  trackers[:inprogress]%>
            </span>
            </div>
            
            <div class="flex items-center gap-1 justify-center h-fit w-fit p-2 text-red-500">
               <span>Rejected</span>
               <div class="loading-anim-shake">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ff2600" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="200" y1="56" x2="56" y2="200" stroke="#ff2600" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="200" y1="200" x2="56" y2="56" stroke="#ff2600" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line></svg>
               </div>
            <span>:
            <%= trackers[:rejected]%>
            </span>
            </div>


         </div>
         </div>
      </div>
   </aside>